name: GitOps CI/CD
on:
  push:
    branches: [ main ]
jobs:
  build-push-update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image
      run: docker build -t myapp:${{ github.sha }} .
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Push image
      run: |
        docker tag myapp:${{ github.sha }} rghud/myapp:${{ github.sha }}
        docker push YOURUSERNAME/myapp:${{ github.sha }}
    - name: Update K8s manifest
      run: |
        sed -i "s|image: .*|image: robinhoodhud34/myapp:${{ github.sha }}|" k8s/deployment.yaml
        git config user.name "gitops-bot"
        git config user.email "bot@example.com"
        git add k8s/deployment.yaml
        git commit -m "chore: bump image to ${{ github.sha }}"
        git push
